:root {
  --main-color: #333333;
  --main-text-color: #212529;
  --second-color: #804d4e;
}

/*  */
.header {
  padding-top: 80px;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
}

.header + svg {
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

.up {
  position: fixed;
  right: 10px;
  bottom: -40px;
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: var(--second-color);
  transition: 1s;
  animation-name: up_down;
  animation-duration: 2.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes up_down {
  0%,
  100% {
    transform: translateY(10px);
  }

  50% {
    transform: translateY(0px);
  }
}

::selection {
  background-color: var(--second-color);
  color: white;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #734546;
  border-radius: 10px;
}

.header-info {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.header-info svg {
  width: 30px;
}

/* section home */

section {
  position: relative;
  background-image: url(../assets/imgs/cart/breadcumb.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 120px 0;
}

@media (max-width: 767px) {
  section {
    padding: 80px 0;
  }
}

@media (max-width: 567px) {
  section {
    padding: 60px 0;
  }
}

section::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #333333c7;
  z-index: 0;
}

section h1 {
  position: relative;
  color: white;
  text-align: center;
  font-size: 50px;
  font-weight: 800;
  margin-bottom: 10px;
}

section .text {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

section .text a span {
  margin-left: 5px;
}

section .text p span {
  display: inline-block;
  margin: 0 10px;
}
