@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --heading-one: clamp(1.5rem, 2.8vw + 1rem, 4.75rem);
  --heading-two: clamp(1.5rem, 1.7vw + 1rem, 2.875rem);
  --heading-three: clamp(1.375rem, 0.8vw + 1rem, 2.25rem);
  --heading-four: clamp(1.125rem, 0.5vw + 1rem, 1.5rem);
  --heading-five: clamp(1.0625rem, 0.3vw + 1rem, 1.125rem);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Nunito", sans-serif;
  background-color: #fafcff !important;
}

.container-sm {
  max-width: 1320px;
  width: 100%;
  margin: auto;
  padding-inline: 10px;
}

.--heading-one {
  font-size: clamp(1.5rem, 2.8vw + 1rem, 4.75rem);
}

.--heading-three {
  font-size: clamp(1.375rem, .8vw + 1rem, 2.25rem);
}

.btn-primary {
  background-color: #33c1c1;
  color: white;
  outline: none;
  border: 1px solid transparent;
  padding: 14px 20px;
  border-radius: 50px;
  transition: all 0.3s ease;
}

.btn-primary:hover {
  color: #33c1c1;
  border-color: #33c1c1;
  background-color: transparent;
}

/* hero
 */
.hero {
  background: url("../assets/imgs/banner-bg.png");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 25px 0;
}

footer {
  background: url("/assets/imgs/footer.png");
  background-position: left;
  background-repeat: no-repeat;
  max-height: 400px;
  min-height: 300px;
  background-color: #e0faff;
  position: relative;
}

footer::before {
  content: url("../assets/imgs/footer-top-shape.png");
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  overflow: hidden;
}